@use "flatpickr/dist/flatpickr.min.css";

main {
    padding-inline: var(--size-3);
}

section {
    margin-top: var(--size-5);
    
    .title {
        margin-bottom: var(--size-3);
    }

    .content {

    }

    .image {
        border-radius: var(--radius-2);
    }
} 