// @font-face {
//   src: url(/fonts/RobotoFlex.ttf);
//   font-family: "Roboto Flex";
//   font-display: swap;
// }

@font-face {
  src: url(/fonts/Roboto-Regular.ttf);
  font-family: "Roboto";
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url(/fonts/Roboto-Bold.ttf);
  font-family: "Roboto";
  font-weight: bold;
  font-display: swap;
}

@font-face {
  src: url(/fonts/RobotoSlab.ttf);
  font-family: "Roboto Slab";
  font-weight: bold;
  font-display: swap;
}
