// Import all important assets
@use "open-props/borders.min.css";
@use "open-props/fonts.min.css";
@use "open-props/zindex.min.css";
@use "open-props/sizes.min.css";
@use "open-props/shadows.min.css";
@use "open-props/normalize.min.css";
@use "./utils/variables.scss";

svg {
  stroke: currentColor;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

html,
body {
  height: 100%;
}


body > header {
  position: fixed;
  width: 100%;
  height: var(--size-10);
  padding-inline: var(--size-2);
  
  display: flex;
  align-items: center;
  justify-content: end;

  background-color: white;
  box-shadow: var(--shadow-2);

  z-index: var(--layer-3);

  @media (prefers-color-scheme: dark) {
    background-color: var(--surface-2);
    color: var(--text-2);
  }
}

.logo {
  margin-right: auto;
  height: 100%;
  
  img {
    width: fit-content;
    height: 100%;

    object-fit: contain;
  }
}

.menu-toggle {
  display: flex;
  align-items: center;

  &[aria-expanded="false"] {
    .icon-open {
      display: block;
    }
    
    .icon-close {
      display: none;
    }
  
    + .menu-links {
      display: none;   
    }
  }

  &[aria-expanded="true"] {
    .icon-open {
      display: none;
    }
    
    .icon-close {
      display: block;
    }
  
    + .menu-links {
      display: block;   
    }
  }
}

.menu-links {
  position: absolute;
  list-style: none;
  padding: var(--size-2);

  li {
    padding: 0;
  }
}

#language-selector {
  position: relative;
  z-index: var(--layer-5);

  &__links {
    top: 100%;
    right: 0;

    border-radius: var(--radius-2);
    background-color: var(--surface-3);

    li + li {
      margin-top: var(--size-1);
    }
  }
}

#main-menu__links {
  top: var(--size-10);
  left: 0;
  right: 0;

  height: calc(100vh - var(--size-10));

  background-color: var(--surface-2);
  z-index: var(--layer-4);
}

.padder {
  height: var(--size-10);
}

button.transparent {
  background-color: transparent;
}
