@import "@splidejs/splide/dist/css/splide-core.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* fallback */
@font-face {
  font-family: "Material Symbols Outlined";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/MaterialIcons.woff2") format("woff2");
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined", monospace;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  @apply bg-primary-light-shade;
}

.hero__image::before {
  position: absolute;
  width: 100%;
  height: calc(100% + 6rem);
  background-image: var(--image-url);
  background-repeat: no-repeat;
  background-position: 50% 65%;
  background-size: 100vh;
  filter: brightness(70%);
  top: 0;
  left: 0;
  content: "";
  z-index: 0;
}

input[type="date"] {
  position: relative;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

.splide__pagination {
  @apply gap-1;
}

.splide__pagination button.is-active {
  @apply bg-primary-light-accent;
}

.splide__pagination button {
  @apply h-2 w-2 rounded-full bg-primary-dark-accent;
}