{{ define "main" }}
{{ $imgSrc := (resources.GetMatch `images/Hero.jpg`).RelPermalink | safeURL }} 
<div class="hero w-full h-full flex flex-col">
  <div class="hero__image relative grow flex items-end" style="--image-url: url({{$imgSrc}});">
    <div class="pl-10 mb-6 z-10">
      <span class="text-red-100 font-bold text-xl">We want</span>
      <h1 class="text-white text-5xl font-bold">Happiness<br>Peace</h1>
    </div>
  </div>
  <div class="px-6 mb-8 z-10">
    <div class="px-4 py-5 bg-white rounded-lg shadow-lg">
      <h2 class="font-bold text-lg mb-4 text-primary-dark-shade">Check availability</h2>
      <form action="https://pensionalmhof.at/en/availability">
        <div class="grid grid-cols-2 gap-2 mb-4">
          <label>
            <span class="text-sm text-slate-600 flex items-center gap-1">
              <i class="material-symbols-outlined">flight_land</i>
              Check in
            </span>
            <input class="w-full p-1 bg-transparent text-lg text-gray-900 font-bold" type="date" placeholder="dd-MM-yyyy" name="checkin" required>
          </label>
          <label>
            <span class="text-sm text-slate-600 flex items-center gap-1">
              <i class="material-symbols-outlined">flight_takeoff</i>
              Check out
            </span>
            <input class="w-full p-1 bg-transparent text-lg text-gray-900 font-bold" type="date" placeholder="dd-MM-yyyy" name="checkout" required>
          </label>
        </div>
        <button type="submit" class="py-3 px-4 bg-primary-dark-accent rounded w-full block text-primary-light-shade font-bold">Check</button>
      </form>
    </div>
  </div>
</div>

<main>
  {{- $sections := $.Site.GetPage "/homepage" }}
  
  {{- $welcome := (index (where $sections.Resources ".Params.section" "Welcome") 0) }}
  {{ with $welcome }}
  <section class="px-4 my-8">
    {{ partial "main/image.html" (dict "Destination" (index (.Param "images") 0)) }}
    <div class="prose prose-md mt-4">
      <h2>{{.Title}}</h2>
      <p>{{ default "" .Content }}</p>
    </div>
  </section>
  {{ end }}

  <section class="splide block pt-4 pb-12 px-6 w-full bg-primary-dark-shade" aria-labelledby="rooms">
    <h2 id="rooms" class="block text-center font-bold text-primary-light-shade mb-6">Rooms</h2>
    <div class="relative">
      <div class="splide__arrows text-white text-2xl absolute flex justify-between inset-x-0 top-1/2 w-full">
        <button class="splide__arrow splide__arrow--prev disabled:opacity-50 -ml-6">
          <span class="material-symbols-outlined">
            navigate_before
          </span>
        </button>
        <button class="splide__arrow splide__arrow--next disabled:opacity-50 -mr-6">
          <span class="material-symbols-outlined">
            navigate_next
          </span>
        </button>
      </div>
      <div class="splide__track">
        <ul class="splide__list">
          {{ $section := where $.Site.RegularPages "Section" "rooms"}}
          {{ range $section }}
          <li class="splide__slide">
            <div class="inline-block bg-primary-light-shade px-4 mt-6 rounded-xl shadow-lg">
              <div class="-mt-6 shadow">
                {{ with (index (.Params.images) 0) }}
                  {{ partial "main/image.html" (dict "Destination" .) }}
                {{end}}
              </div>
              <div class="prose prose-md py-6 px-3">
                <h3 class="text-primary-dark-shade mb-0 leading-none">{{ .Title }}</h3>
                <span class="text-primary-dark-accent">
                  {{ $list := .Params.highlights }}
                  {{ range $idx, $el := $list }}
                  {{.}} {{ if ne (add $idx 1) (len $list) }} ∙ {{ end }}
                  {{ end }}
                </span>
                <p class="mt-3">
                  {{.Description}}
                </p>
              </div>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>

  {{- $aboutus := (index (where $sections.Resources ".Params.section" "About us") 0) }}
  {{ with $aboutus }}
  <section class="px-4 my-8 prose prose-md">
    <h2>{{.Title}}</h2>
    <p>{{ default "" .Content }}</p>
    {{ partial "main/image.html" (dict "Destination" (index (.Param "images") 0)) }}
  </section>
  {{ end }}

</main>
{{ end }}

{{ define "custom_script" }}
<script type="module">
  function onSubmit(e) {
    e.preventDefault();

    console.log("Submit");
  }

  new window.Splide('.splide', {
    gap: '2rem',
    keyboard: true,
  }).mount();
</script>
{{ end }}