{{ define "main" }}
{{ $imgSrc := (resources.GetMatch `images/Hero.jpg`).RelPermalink }} 
<section class="w-full h-screen bg-center bg-no-repeat bg-cover" style="background-image: url({{$imgSrc | safeURL}});"  >
  <div class="w-full h-screen bg-black bg-opacity-20 flex justify-center items-center">
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Title }}</p>
      <a class="" href="" role="button">{{ i18n "book-now" }}</a>
    </div>
  </div>
</section>
{{- $sections := $.Site.GetPage "/homepage" }}
{{ range $ind, $elem := (sort $sections.Resources ".Params.weight") }}
<section class="mx-auto my-8 flex justify-center">
  <div class="prose prose-md text-center">
    <h2>{{.Title}}</h2>
    <p>{{ default "" $elem.Content }}</p>
  </div>
</section>
{{ end }}
{{ end }}


