{{ define "main" }}
{{ $imgSrc := (resources.GetMatch `images/Hero.jpg`).RelPermalink | safeURL }} 
<div class="w-full h-screen flex flex-col">
  <div class="relative hero grow flex items-end bg-center bg-no-repeat bg-cover" style="--image-url: url({{$imgSrc}});">
    <div class="pl-10 mb-6">
      <span class="text-red-200 font-bold text-xl">We want</span>
      <h1 class="text-white text-5xl font-bold">Happiness<br>Peace</h1>
    </div>
  </div>
  <div class="px-6 mb-6">
    <div class="p-4 bg-rose-200 rounded-lg">
      <h2 class="font-bold mb-2">Check availability</h2>
      <form class="flex flex-col gap-2">
        <label>
          <div class="flex items-end gap-2">
            <span class="text-sm material-symbols-outlined">
              flight_land
            </span>
            Check in
          </div>
          <input type="date" name="arrival">
        </label>
        <label>
          <div class="flex items-center gap-2">
            <span class="material-symbols-outlined">
              flight_takeoff
            </span>
            Check out
          </div>
          <input type="date" name="departure">
        </label>
        <button>Check</button>
      </form>
    </div>
  </div>
</div>
{{- $sections := $.Site.GetPage "/homepage" }}
{{ range $ind, $elem := (sort $sections.Resources ".Params.weight") }}
<section class="mx-auto my-8 flex justify-center">
  <div class="prose prose-md text-center">
    <h2>{{.Title}}</h2>
    <p>{{ default "" $elem.Content }}</p>
  </div>
</section>
{{ end }}
{{ end }}
