<header>
  <a class="logo" href="{{ `/` | relLangURL }}" aria-label="Logo">
    {{ $logo := "/images/logo.webp" | relURL }}
    {{ partial "main/image.html" (dict "Destination" $logo ) }}
  </a>

  <nav id="language-selector" role="navigation" aria-label="Language selector">
    <button type="button" class="menu-toggle transparent" id="language-selector__toggle" aria-controls="language-links" aria-expanded="false" aria-label="Open language selector">
      {{ .Site.Params.languageISO }}
      <svg xmlns="http://www.w3.org/2000/svg" class="icon-open" width="16" height="16" viewBox="0 0 24 24">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <polyline points="6 9 12 15 18 9" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon-close" width="16" height="16" viewBox="0 0 24 24">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <polyline points="6 15 12 9 18 15" />
      </svg>
    </button>
    <ul class="menu-links" id="language-selector__links">
      {{ if .IsTranslated -}}
        {{ range .Translations }}
          <li>
            <a rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">
              {{ .Language.LanguageName }}
            </a>
          </li>
        {{ end -}}
      {{ end -}}
    </ul>
  </nav>

  <nav class="main-menu" role="navigation" aria-label="Main menu">
    <button type="button" class="menu-toggle transparent" id="main-menu__toggle" aria-controls="nav__links" aria-expanded="false" aria-label="Open main menu">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon-open" aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="4" y1="6" x2="20" y2="6" />
        <line x1="4" y1="12" x2="20" y2="12" />
        <line x1="4" y1="18" x2="20" y2="18" />
      </svg>
      <svg xmlns="http://www.w3.org/2000/svg" class="icon-close" aria-hidden="true" focusable="false" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5">
        <path stroke="none" d="M0 0h24v24H0z" />
        <line x1="18" y1="6" x2="6" y2="18" />
        <line x1="6" y1="6" x2="18" y2="18" />
      </svg>
    </button>
    <ul class="menu-links" id="main-menu__links">
      <li>
        <a href="#" aria-current="page">Home</a>
      </li>
      <li>
        <a href="#">Rooms</a>
      </li>
      <li>
        <a href="#">Facilties</a>
      </li>
      <li>
        <a href="#">Activities</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
    </ul>
  </nav>
</header>
<div class="padder"></div>